.main-content-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.layout-body {
  display: flex;
  flex: 1;
  overflow-y: auto;
  align-items: stretch;
}

.sidebar-area {
  margin: 15px;
  border-radius: 20px;
  width: 20%;
  background-color: #fafbfc;
  overflow-y: auto;
  width:330px;
}

.tab-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background: #f7f7f7;
  width: 95%;
  margin: 15px auto;
  border-radius: 15px;
  padding: 5px 0;
}

.tab-navigation button {
  flex: 0 0 auto;
  margin: 5px;
  border: none;
  background: none;
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 300;
  padding: 10px;
  width: 290px;
  height: 72%;
  transition: all 0.2s ease;
  border-radius: 8px;
}

.tab-navigation button:hover {
  background-color: #e0e5ff !important;
}

.tab-navigation button.active {
  background: #ffffff;
  color: #7288fa;
  font-weight: bold;
}

.content-area {
  flex-grow: 1;
  max-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  box-sizing: border-box;
  border: solid 2px #b8c3f3;
  margin: 20px;
  border-radius: 20px;
}
