.subscription-container {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 40px;
  background-color: #f9f9f9;
}

.headphone-icon {
  width: 60px;
  height: 60px;
  display: block;
  margin: -20px auto 10px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: -5px;
}

.subtext {
  font-size: 18px;
  color: #4c525c;
  text-align: center;
  margin-bottom: 30px;
  margin-top: -10px;
}

.plans {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
}

.plan-card {
  width: 360px;
  height: 480px;
  padding: 30px;
  border: 2px solid rgb(235, 235, 235);
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 10px;
}

.plan-card.selected {
  border: 2px solid #7287f9;
  transform: scale(1.03);
}

.plan-header {
  display: flex;
  justify-content: left;
  height: 40px;
}

.plan-icon {
  width: 32px;
  height: 32px;
  margin-right: 3px;
}

.plan-header h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.description {
  font-size: 15px;
  color: #4c525c;
  margin-top: -5px;
}

.plan-card h4 {
  font-size: 35px;
  font-weight: bold;
  color: black;
  margin-top: -10px;
  margin-bottom: -10px;
}

.per-month {
  font-size: 18px;
  color: #6f7076;
  font-weight: 400;
}

.plan-card ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  font-size: 16px;
  color: #4f545e;
  width: 100%;
  font-weight: 500;
}

.plan-card ul li {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.check-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.plan-card button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 6px;
  background-color: #f2f4f5;
  color: #3c4352;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-top: auto;
}

.plan-card button:hover {
  background-color: #7287f9;
  color: white;
}