.app-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.main-content {
  width: 100%; /* 确保和 sidebar 左右布局配合 */
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
}
