/* Footer */
.main-footer {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  width: 100%; /* Ensure full width */
  position: relative;
  left: 0;
  right: 0;
  margin: 0;
}

.main-footer p {
  color: #555;
  font-size: 1rem;
  margin: 0;
}
